<!-- MASTER PAGES -->
<% layout('layout/main') -%>


<script defer src="socket.io/socket.io.js"></script>
<script defer src="js/functions.js"></script>
<script defer src="js/socketFrontEnd.js"></script>



<div class="container" style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="divTitle text-center">
                <span id="title">Super Chat</span>
            </div>
        </div>
    </div>
    <div class="row chat">
        <div class="col-md-3">
            <div class="divUsuarios">
                <div class="divTitleUsers text-center" style="padding-top: 10px; margin-bottom: 10px;">
                    <span id="userTitle">Usuarios Online</span>
                </div>
                <div id="divUsers">
                    <!-- <ul>
                        <li>
                            <div class="profile">
                                <div id="picture">
                                    <img src="img/profile.png" alt="" class="rounded-circle" width="50" height="50">
                                </div>
                                <div id="userInfo">
                                    <span id="txtName">Goku</span><br>
                                    <span id="txtState">ONLINE</span>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="divChat">
                <ul id="ulMsj" style="width: 100%; height: 100%; overflow: auto">

                    <!-- <li class="mb-2" id="liMsj">
                        <div id="divMsj">
                            <div id="divPic">
                                <img src="img/profile.png" alt="" width="50" height="50">
                            </div>


                            <div id="divUserMsj">
                                <div id="Msj">
                                    <span>${data.nombre}</span><br>
                                    <span>${data.mensaje}</span><br>
                                    <span>${hora}</span>
                                </div>
                            </div>
                        </div>
                    </li> -->

                </ul>
            </div>
            <div class="grid">
                <div id="divTxtMsj">
                    <textarea name="" id="txtMsj" cols="30" class="form-control"
                        placeholder="Escribetu mensaje"></textarea>
                </div>
                <div id="divBtn">
                    <button class="btn btn-success form-control" id="btnEnviar">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>