<!-- MASTER PAGES -->
<% layout('layout/main') -%>


<script defer src="socket.io/socket.io.js"></script>
<script src="js/functions.js"></script>
<script defer src="js/socketFrontEnd.js"></script>

<div class="container" style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="divTitle text-center">
                <h1>Super Chat</h1>
            </div>
        </div>
    </div>
    <div class="row chat">
        <div class="col-md-3">
            <div class="divUsuarios">
                <div class="divTitleUsers text-center">
                    <h4>Usuarios Online</h4>
                </div>
                <ul>
                    <li>
                        <div class="profile">
                            <div class="picture">
                                <img src="img/profile.png" alt="" class="rounded-circle" width="50" height="50">
                            </div>
                            <div class="userInfo">
                                <span>Goku</span><br>
                                <span>ONLINE</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 30px;">
            <div class="divChat">
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
                <h3>users</h3>
            </div>
            <div class="grid">
                <div>
                    <textarea name="" id="txtMsj" cols="30" class="form-control"
                        placeholder="Escribetu mensaje"></textarea>
                </div>
                <div id="btn">
                    <button class="btn btn-success form-control" id="btnEnviar">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>