<!-- MASTER PAGES -->
<% layout('layout/main') -%>

<head>

</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="divRegitro text-center">
                <h1 class="mb-5">Registro</h1>
                <input type="text" placeholder="Nombre de usuario" class="form-control mb-3" required
                    autocomplete="off">
                <button class="btn btn-primary form-control mb-3">Ingresar</button>
            </div>
        </div>
    </div>
</div>