<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Chat</title>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="css/bootstrapcss/bootstrap.min.css">

    <!-- JS jQuery -->
    <script src="js/jquery/jquery-3.4.1.js"></script>

    <!-- JS Propper -->
    <script src="js/popperjs/popper.min.js"></script>

    <!-- JS Bootstrap -->
    <script src="js/bootstrapjs/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/styl.css">

</head>

<body>

    <%- body -%>
</body>

</html>